.hero {
	background-image: url('../assets/image/hero-bg.png');
	background-size: cover;
}

.hero__title {
	font-weight: 800;
	font-size: 96px;
	line-height: 90px;

	background-image: url('../assets/image/hero-title-gradient.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: text;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	padding-bottom: 200px;
}

.hero__search {
	color: #7c8db0;
}

// @include media-breakpoint-down(md) {
// 	.hero {
// 		display: none;
// 	}
// }
